[
{kernel,
  [{logger_level, all}
  ,{logger,
    [{handler, default, logger_std_h,
      #{ formatter => {logger_formatter, #{ }}}}]
   }
  ]
},
{ssh, [{modify_algorithms, 
	  [{append, [{kex,['diffie-hellman-group1-sha1']}]}
	  ,{prepend, [{public_key,['ssh-rsa']}]}
	  ]
      }
      ]
},
{cipherl,
 [{add_host_key, true}
 ,{hidden_node, false}
 ,{local_node, false}
 ,{security_handler, []}
 ,{ssh_dir, user}
 ,{ssh_pubkey_alg, 'ssh-rsa'}
 ,{ssh_sysdir_override, false}
 ,{ssh_userdir_override, false}
 ,{user_dir, "/home/eric/tmp/keys"}
 ]}
].
