[
{kernel,
  [{logger_level, all}
  ,{logger,
    [{handler, default, logger_std_h,
      #{ formatter => {logger_formatter, #{ }}}}]
   }
  ]
},
{cipherl,
 [{add_host_key, true}
 ,{hidden_node, false}
 ,{local_node, false}
 ,{security_handler, []}
 ,{ssh_dir, any}
 ,{ssh_sysdir_override, false}
 ,{ssh_userdir_override, false}
 ]}
].
